extends layout

block content
  div.header
    h1 Pirates BNB
  div.container
    div.listings
      each listing in listingsJSON.listings
        div.listing_display.
          <img src=#{listing.image_url} style="width:300px"><br>
          #{listing.title} • #{listing.capacity} cabins<br>
          #{listing.description}<br>
          #{listing.price} gold pieces per week • Free cancellation<br>
          Rating: #{'💀'.repeat(listing.rating)}
